<a href="https://colab.research.google.com/github/HatariMuslim/TugasMachineLearning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np
from sklearn import ensemble
from sklearn import metrics
from sklearn.model_selection import train_test_split
import sklearn.preprocessing as prep

In [4]:
data =  pd.read_csv('/content/drive/MyDrive/HatariMuslim/TM9/Dataset/american_income_1994.csv')
data.head()

,age,workclass,fnlwft,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours-per-week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
def encoder(df, columns):
    for x in columns :
        labelEncoder = prep.LabelEncoder()
        labelEncoder.fit(df[x])
        df[(x + "_code")] = labelEncoder.transform(df[x])
        df = df.drop([x],axis='columns')
    return df

In [8]:
df1 = pd.read_csv('/content/drive/MyDrive/HatariMuslim/TM9/Dataset/american_income_1994.csv')
df1.shape

(48842, 15)

In [9]:
df1.describe()

,age,fnlwft,education_num,capital_gain,capital_loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwft          48842 non-null  int64
 3   education       48842 non-null  object
 4   education_num   48842 non-null  int64
 5   marital_status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital_gain    48842 non-null  int64
 11  capital_loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native_country  48842 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [11]:
df1.duplicated().sum()

29

In [12]:
df2 = df1.drop_duplicates(keep='first')

In [13]:
df2.isnull().sum()

age               0
workclass         0
fnlwft            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours-per-week    0
native_country    0
income            0
dtype: int64

In [14]:
df3 = df2.copy()

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48813 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48813 non-null  int64
 1   workclass       48813 non-null  object
 2   fnlwft          48813 non-null  int64
 3   education       48813 non-null  object
 4   education_num   48813 non-null  int64
 5   marital_status  48813 non-null  object
 6   occupation      48813 non-null  object
 7   relationship    48813 non-null  object
 8   race            48813 non-null  object
 9   sex             48813 non-null  object
 10  capital_gain    48813 non-null  int64
 11  capital_loss    48813 non-null  int64
 12  hours-per-week  48813 non-null  int64
 13  native_country  48813 non-null  object
 14  income          48813 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [16]:
df4 = encoder(df3,['workclass','education','marital_status','occupation','relationship','race','sex','native_country'])
df4

,age,fnlwft,education_num,capital_gain,capital_loss,hours-per-week,income,workclass_code,education_code,marital_status_code,occupation_code,relationship_code,race_code,sex_code,native_country_code
0,39,77516,13,2174,0,40,<=50K,7,9,4,1,1,4,1,39
1,50,83311,13,0,0,13,<=50K,6,9,2,4,0,4,1,39
2,38,215646,9,0,0,40,<=50K,4,11,0,6,1,4,1,39
3,53,234721,7,0,0,40,<=50K,4,1,2,6,0,2,1,39
4,28,338409,13,0,0,40,<=50K,4,9,2,10,5,2,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,215419,13,0,0,36,<=50K.,4,9,0,10,1,4,0,39
48838,64,321403,9,0,0,40,<=50K.,0,11,6,0,2,2,1,39
48839,38,374983,13,0,0,50,<=50K.,4,9,2,10,0,4,1,39
48840,44,83891,13,5455,0,40,<=50K.,4,9,0,1,3,1,1,39
48841,35,182148,13,0,0,60,>50K.,5,9,2,4,0,4,1,39

In [17]:
df = df4.copy()

**MODELING**

In [18]:
df['income'] = df['income'].apply(lambda x: ''.join(x).replace(' ', '').replace('.', ''))

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48813 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  48813 non-null  int64
 1   fnlwft               48813 non-null  int64
 2   education_num        48813 non-null  int64
 3   capital_gain         48813 non-null  int64
 4   capital_loss         48813 non-null  int64
 5   hours-per-week       48813 non-null  int64
 6   income               48813 non-null  object
 7   workclass_code       48813 non-null  int64
 8   education_code       48813 non-null  int64
 9   marital_status_code  48813 non-null  int64
 10  occupation_code      48813 non-null  int64
 11  relationship_code    48813 non-null  int64
 12  race_code            48813 non-null  int64
 13  sex_code             48813 non-null  int64
 14  native_country_code  48813 non-null  int64
dtypes: int64(14), object(1)
memory usage: 6.0+ MB

In [20]:
X = df.drop(['income', 'fnlwft'], axis='columns')
y = df['income']

In [21]:
df['income']

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
48837    <=50K
48838    <=50K
48839    <=50K
48840    <=50K
48841     >50K
Name: income, Length: 48813, dtype: object

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=90)

In [23]:
model = ensemble.RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)

RandomForestClassifier()

In [24]:
y_pred = model.predict(X_test)
y_pred

array(['<=50K', '<=50K', '<=50K', ..., '>50K', '<=50K', '<=50K'],
      dtype=object)

In [25]:
accuracy = metrics.accuracy_score(y_test, y_pred)
report = metrics.classification_report(y_test, y_pred)

print(accuracy)
print(report)
print(model.feature_importances_)

0.8525043531701322
              precision    recall  f1-score   support

       <=50K       0.89      0.92      0.90      7424
        >50K       0.71      0.64      0.68      2339

    accuracy                           0.85      9763
   macro avg       0.80      0.78      0.79      9763
weighted avg       0.85      0.85      0.85      9763

[0.21597604 0.09666204 0.11831394 0.04028278 0.11304519 0.04919598
 0.03597522 0.06653172 0.08338778 0.12693711 0.01723261 0.01408813
 0.02237146]